In [1]:
import numpy as np
import pandas as pd


from sqlalchemy import create_engine, inspect
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [2]:
wu_tang_clan_info = pd.read_csv('wu_tang_clan_updated.csv')[['track_duration(ms)', 'track_number', 'track_title', 'album_title', 'release_date'
]]
wu_tang_clan_info.head()

,track_duration(ms),track_number,track_title,album_title,release_date
0,91080,1,Wu-Tang The Saga Continues Intro (feat. RZA),The Saga Continues,10/13/2017
1,202666,2,Lesson Learn'd (feat. Inspectah Deck and Redman),The Saga Continues,10/13/2017
2,222310,3,Fast and Furious (feat. Hue Hef and Raekwon),The Saga Continues,10/13/2017
3,80606,4,Famous Fighters (Skit),The Saga Continues,10/13/2017
4,233846,5,If Time Is Money (Fly Navigation) [feat. Metho...,The Saga Continues,10/13/2017

In [3]:
us_sales = pd.read_csv('us_sales_2015.csv')
us_sales = us_sales[['album_name', 'units_sold']]
us_sales

                            album_name  units_sold
0             Enter the Wu-Tang (1993)     2400000
1               Wu-Tang Forever (1997)     2100000
2                             W (2000)     1100000
3                     Iron Flag (2001)      475000
4        Legends of the Wu-Tang (2004)      278000
5                    8 Diagrams (2007)      203000
6  Disciples of the 36 Chambers (2004)      128000
7               Better Tomorrow (2014)       60000
8   Once Upon a Time in Shaolin (2015)           1

In [4]:
wu_foundation = pd.read_csv('wu_foundation.csv')
wu_foundation = wu_foundation[['member','albums','image_path']]
wu_foundation

            member  albums                                   image_path
0  Ghostface Killa      12  C:\Users\moks\Desktop\images\ghostface.jpeg
1              RZA       4        C:\Users\moks\Desktop\images\rza.jpeg
2              GZA       5        C:\Users\moks\Desktop\images\GZA.jpeg
3              ODB       2        C:\Users\moks\Desktop\images\ODB.jpeg
4       Method Man       5     C:\Users\moks\Desktop\images\method.jpeg
5          Raekwon       7    C:\Users\moks\Desktop\images\raekwon.jpeg
6   Inspectah Deck       4  C:\Users\moks\Desktop\images\inspectah.jpeg
7            U-God       5       C:\Users\moks\Desktop\images\ugod.jpeg
8      Masta Killa       4      C:\Users\moks\Desktop\images\masta.jpeg
9       Cappadonna       9  C:\Users\moks\Desktop\images\cappadonna.png

In [5]:
wu_artists = pd.read_csv('wu_tang_clan_artists.csv')
wu_artists = wu_artists[['album_title','artists','date']]
wu_artists.head()

                       album_title           artists       date
0  Enter the Wu-Tang (36 Chambers)    Inspectah Deck  11/9/1993
1  Enter the Wu-Tang (36 Chambers)  Ghostface Killah  11/9/1993
2  Enter the Wu-Tang (36 Chambers)               GZA  11/9/1993
3  Enter the Wu-Tang (36 Chambers)       Masta Killa  11/9/1993
4  Enter the Wu-Tang (36 Chambers)        Method Man  11/9/1993

In [6]:
engine = create_engine('sqlite:///wutang.sqlite')
connect = engine.connect()

In [7]:
class Info(Base):
    __tablename__ = 'info'
    id = Column(Integer, primary_key=True)
    track_duration = Column(Float)
    track_number = Column(Float)
    track_title = Column(String(255))
    album_title = Column(String(255))
    release_date = Column(String(255))

In [8]:
class Sales(Base):
    __tablename__ = 'sales'
    id = Column(Integer, primary_key=True)
    name = Column(String(255))
    units = Column(Float)

In [9]:
class Foundation(Base):
    __tablename__ = 'foundation'
    id = Column(Integer, primary_key=True)
    member = Column(String(255))
    albums = Column(Float)
    image_path = Column(String(255))

In [10]:
class Artists(Base):
    __tablename__ = 'artists'
    id = Column(Integer, primary_key=True)
    album_title = Column(String(255))
    artists = Column(String(255))
    date = Column(String(255))

In [11]:
Base.metadata.create_all(connect)

In [12]:
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [13]:
wutanginfo_duration = [wu_tang_clan_info['track_duration(ms)'][row] for row in range(wu_tang_clan_info.shape[0])]
wutanginfo_tracknum = [wu_tang_clan_info['track_number'][row] for row in range(wu_tang_clan_info.shape[0])]
wutanginfo_tracktitle = [wu_tang_clan_info['track_title'][row] for row in range(wu_tang_clan_info.shape[0])]
wutanginfo_albumtitle = [wu_tang_clan_info['album_title'][row] for row in range(wu_tang_clan_info.shape[0])]
wutanginfo_releasedate = [wu_tang_clan_info['release_date'][row] for row in range(wu_tang_clan_info.shape[0])]

In [14]:
for x in range(len(wu_tang_clan_info)):
    info = Info(track_duration=wutanginfo_duration[x], track_number=wutanginfo_tracknum[x], track_title=wutanginfo_tracktitle[x], album_title=wutanginfo_albumtitle[x], release_date=wutanginfo_releasedate[x])
    session.add(info)
    session.commit()

In [15]:
us_sales_name = [us_sales['album_name'][row] for row in range(us_sales.shape[0])]
us_sales_sold = [us_sales['units_sold'][row] for row in range(us_sales.shape[0])]

In [16]:
for y in range(len(us_sales)):
    sales = Sales(name=us_sales_name[y], units=us_sales_sold[y])
    session.add(sales)
    session.commit()

In [17]:
wufoundation_member = [wu_foundation['member'][row] for row in range(wu_foundation.shape[0])]
wufoundation_albums = [wu_foundation['albums'][row] for row in range(wu_foundation.shape[0])]
wufoundation_image = [wu_foundation['image_path'][row] for row in range(wu_foundation.shape[0])]

In [18]:
for z in range(len(wu_foundation)):
    foundation = Foundation(member=wufoundation_member[z], albums=wufoundation_albums[z], image_path=wufoundation_image[z])
    session.add(foundation)
    session.commit()

In [19]:
wuartists_album = [wu_artists['album_title'][row] for row in range(wu_artists.shape[0])]
wuartists_artists = [wu_artists['artists'][row] for row in range(wu_artists.shape[0])]
wuartists_date = [wu_artists['date'][row] for row in range(wu_artists.shape[0])]

In [20]:
for w in range(len(wu_artists)):
    artists = Artists(album_title=wuartists_album[w], artists=wuartists_artists[w], date=wuartists_date[w])
    session.add(artists)
    session.commit()